#map {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url('map.jpg'); /* replace with your own map image */
    background-size: cover;

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    
    #map {
        width: 800px;
        height: 600px;
        border: 1px solid black;
        background-color: #f0f0f0;
        position: relative;
    }
    
    .marker {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
    }
    